/* In the name of Allah */

.alarm {
    
}

body{
    background-color: black;
}

.space{
    margin-bottom: 20px;
}

.upspace{
    margin-top: 20px;
}

.info{
    font-weight: bolder;
    font-size: xx-large;
}

h1{
    font-size: 5vw;
}

hr {
    background-color: white;
}